<html>

    <head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
        <link href="/static/css/roboto.min.css" rel="stylesheet">
        <link href="/static/css/material.min.css" rel="stylesheet">
        <link href="/static/css/ripples.min.css" rel="stylesheet">


    </head>

    <body style="background: url('/static/img/back2.jpg') no-repeat center center fixed; background-size: cover; width:100%;">
    <div class="container" style="background: url('static/img/back2.jpg') no-repeat center center fixed; background-size: cover; width:100%;">

        <!-- Your site -->
        <div class="navbar navbar-warning navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('home')}}" >Eashan Kadam</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse ">
        <ul class="nav navbar-nav" >
            <li ><a href="{{url_for('home')}}">Home</a></li>
            <li><a data-target="#modal-about" data-toggle="modal">About Me</a></li>
            <li><a data-target="#modal-resume" data-toggle="modal">Resume</a></li>
            <li class="active"><a href="{{url_for('projects')}}">Projects</a></li>
        </ul>
      
    </div>
</div>
<br><br><br>
        <center>
<header style="width:70%;">
        <div class="jumbotron" style="background:transparent;">
    <center>
    <h1 style="color:#FF3D00;">Eashan Kadam</h1>
      <img class='img-circle' src="/static/img/Eashan.jpg" style="width:20%; ">
   
 
      </center>
  </div>
</header>

</center>
<div id="sec1"  >
  <div class="container shadow-z-3" style="width:70%;background: #ffffff;">
    <div class="row">
      <div class="col-md-12 text-center" >
        <h1>Projects</h1>
        <p class="lead">The best way to learn, is by experience.<br> </p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div id="sec2"  >
  <div class="container shadow-z-3" style="width:70%;background: #ffffff;">
    <div class="row">
      <div class="col-md-12 text-center" >
        <h1>TweetMin</h1>
        <div class="row">
        <div class="col-md-4">
        <a href="http://chatttty.herokuapp.com/">
         <img class="img" src="static/img/tweetmin.jpg" style="width:200px; height:200px;"></a>
         </div>
         <div class="col-md-4">
        <p class="lead">A simple Tweeting application built in Flask a Python Micro Framework.It is currently hosted on heroku.<a href="http://chatttty.herokuapp.com/">Here</a> have a look<br> </p>
       </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<div id="sec3"  >
  <div class="container shadow-z-3" style="width:70%;background: #ffffff;">
    <div class="row">
      <div class="col-md-12 text-center" >
        <h1>Technovanza</h1>
        <div class="row">
        <div class="col-md-4">
        <a href="http://technovanza.org">
         <img class="img-circle" src="static/img/technologo.png" style="width:200px; height:200px;"></a>
         </div>
         <div class="col-md-4">
        <p class="lead">VJTI's Technical Festival's Website, Developed in PHP.The Website is hosted online, and annually updated by the Festival's Committee.<a href="http://technovanza.org">Here</a> have a look<br> </p>
       </div>
      </div>
    </div>
  </div>
</div>
<br><br>
</div>
<div id="sec4"  >
  <div class="container shadow-z-3" style="width:70%;background: #ffffff;">
    <div class="row">
      <div class="col-md-12 text-center" >
        <h1>Gourmand</h1>
        <div class="row">
        <div class="col-md-4">
        
         <img class="img-circle" src="static/img/gourmand.png" style="width:200px; height:200px;"></a>
         </div>
         <div class="col-md-4">
        <p class="lead">A Restaurant Finder Android Application with a Remote Server in Python. Developed in collaboration for the Credit Suisse VJTI Coding Competition. </p>
       </div>
      </div>
    </div>
  </div>
</div>
<br><br>
</div>


      <div id="modal-about" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mdi-content-clear" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">About Me</h3>
      </div>
      <div class="modal-body">
        <h4>As an IT Undergraduate from VJTI, I have always strived to learn new Technologies, I believe that the best way to learn any Technology, is to apply it, which is why I take up Projects and see them through, this gives me tremendous exposure to the enviornment. </h4>
      </div>
      
    </div>
  </div>
</div>

<div id="modal-resume" class="modal fade bs-example-modal-lg" tabindex="-1" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mdi-content-clear" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="modal-title">Resume</h3>
      </div>
      <div class="modal-body">
       <iframe src="/static/doc/Resume.pdf" width="95%" height="90%"></iframe>
      </div>
      
    </div>
  </div>
</div>
        <!-- Your site ends -->
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <script src="/static/js/ripples.min.js"></script>
        <script src="/static/js/material.min.js"></script>
        <script>
            $(document).ready(function() {
                // This command is used to initialize Bootstrap's Material Design Library
                $.material.init();
            });
        </script>

    </body>

</html>
